openapi: 3.2.0
info:
  title: Gracenote Stations API
  version: '1.1'
  description: 'Operations tagged Stations across 2 of this provider''s published API definitions: gracenote-onconnect-lookup-apis-openapi.json, gracenote-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: /proxy/onconnect
- url: http://data.tmsapi.com/v1.1
  description: Gracenote OnConnect (data_v1_1)
tags:
- name: Stations
paths:
  /v1.1/stations/search:
    get:
      summary: Station Search
      description: Returns TV Station metadata with text matching the given name or call sign.
      tags:
      - Stations
      parameters:
      - $ref: '#/components/parameters/ApiKeyQuery'
      - name: q
        in: query
        required: true
        schema:
          type: string
          default: ''
        description: Query string.
      - name: queryFields
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Comma-separated list of station fields to search. Valid values are callsign and name.  Do not include spaces in list.
      - name: limit
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: The maximum number of results to be returned from the query. Valid values are between 1 and 50. Default is 10.
      - name: offset
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Zero-based offset index on the result set. Used in conjunction with limit to page through results. For example, offset=10 will set response data to begin with 11th hit.
      - name: imageSize
        in: query
        required: false
        schema:
          type: string
          default: ''
          enum:
          - ''
          - Sm
          - Md
          - Lg
          - Ms
        description: Size of the image referenced by the preferred image URI returned. The default value is Md (medium)
      responses:
        '200':
          description: Successful response
      operationId: getV11StationsSearch
      x-operation-id-source: derived
    servers:
    - url: /proxy/onconnect
  /v1.1/stations/{stationId}:
    get:
      summary: Station Details
      description: Returns details for a single station. *Available with R&D/Commercial plans only.
      tags:
      - Stations
      parameters:
      - $ref: '#/components/parameters/ApiKeyQuery'
      - name: stationId
        in: path
        required: true
        schema:
          type: string
          default: '10359'
        description: Station ID
      - name: lineupId
        in: query
        required: false
        schema:
          type: string
          default: USA-TX42500-X
        description: Lineup ID. If not provided, channel numbers will not be included in the response.
      - name: imageSize
        in: query
        required: false
        schema:
          type: string
          default: ''
          enum:
          - ''
          - Sm
          - Md
        description: Size of the image referenced by the preferred image URI returned. The default value is Md (medium). Only small and medium logos available for stations.
      responses:
        '200':
          description: Successful response
      operationId: getV11StationsByStationId
      x-operation-id-source: derived
    servers:
    - url: /proxy/onconnect
  /v1.1/stations/{stationId}/airings:
    get:
      summary: Station Airings
      description: Returns airings schedule and associated program metadata for a single station for a given time period over the next 14 days.
      tags:
      - Stations
      parameters:
      - $ref: '#/components/parameters/ApiKeyQuery'
      - name: stationId
        in: path
        required: true
        schema:
          type: string
          default: '10359'
        description: Station ID
      - name: lineupId
        in: query
        required: false
        schema:
          type: string
          default: USA-TX42500-X
        description: Lineup ID. If not provided, channel numbers will not be included in the response.
      - name: startDateTime
        in: query
        required: true
        schema:
          type: dateTime
          default: ''
        description: Date/Time to start from (ISO 8601).
      - name: endDateTime
        in: query
        required: false
        schema:
          type: dateTime
          default: ''
        description: Date/Time to end on (ISO 8601). Defaults to startDateTime plus three hours.
      - name: imageSize
        in: query
        required: false
        schema:
          type: string
          default: ''
          enum:
          - ''
          - Sm
          - Md
          - Lg
          - Ms
        description: Size of the image referenced by the preferred image URI returned. The default value is Md (medium)
      - name: imageAspectTV
        in: query
        required: false
        schema:
          type: string
          default: ''
          enum:
          - ''
          - 2x3
          - 3x4
          - 4x3
          - 16x9
        description: Aspect ratio of the image referenced by the preferred image URI returned. Only applies to TV content. The default value is 2x3.
      - name: imageText
        in: query
        required: false
        schema:
          type: boolean
          default: ''
          enum:
          - ''
          - 'true'
          - 'false'
        description: Boolean indicating preference for image with or without text. If no image is found matching text preference, next available image will be returned. Defaults to true (prefer images with text).
      - name: market
        in: query
        required: false
        schema:
          type: string
          default: ''
        description: Outputs source provided imagery that is specific to a certain country, if available.
      responses:
        '200':
          description: Successful response
      operationId: getV11StationsByStationIdAirings
      x-operation-id-source: derived
    servers:
    - url: /proxy/onconnect
  /stations:
    get:
      tags:
      - Stations
      summary: Search for stations
      operationId: searchStations
      parameters:
      - in: query
        name: lineupId
        schema:
          type: string
      - in: query
        name: callSign
        schema:
          type: string
      responses:
        '200':
          description: Stations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'
      security:
      - apiKey: []
    servers:
    - url: http://data.tmsapi.com/v1.1
      description: Gracenote OnConnect (data_v1_1)
  /stations/{stationId}:
    get:
      tags:
      - Stations
      summary: Get station details
      operationId: getStation
      parameters:
      - in: path
        name: stationId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Station
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
      security:
      - apiKey: []
    servers:
    - url: http://data.tmsapi.com/v1.1
      description: Gracenote OnConnect (data_v1_1)
  /stations/{stationId}/airings:
    get:
      tags:
      - Stations
      summary: Get program airings for a station
      operationId: getStationAirings
      parameters:
      - in: path
        name: stationId
        required: true
        schema:
          type: string
      - in: query
        name: startDateTime
        schema:
          type: string
          format: date-time
      - in: query
        name: endDateTime
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Airings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - apiKey: []
    servers:
    - url: http://data.tmsapi.com/v1.1
      description: Gracenote OnConnect (data_v1_1)
components:
  parameters:
    ApiKeyQuery:
      name: api_key
      in: query
      required: true
      schema:
        type: string
      description: API key for authentication
  schemas:
    Station:
      type: object
      properties:
        stationId:
          type: string
        name:
          type: string
        callSign:
          type: string
        affiliateCallSign:
          type: string
        affiliateName:
          type: string
        type:
          type: string
        channels:
          type: array
          items:
            type: string
        preferredImage:
          type: object
          properties:
            uri:
              type: string
            height:
              type: string
            width:
              type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
x-refined-from:
- gracenote-onconnect-lookup-apis-openapi.json
- gracenote-openapi.yml
