openapi: 3.1.0
info:
  title: Gracenote OnConnect TMS API
  description: >-
    Best-effort OpenAPI 3.1 for the Gracenote (TMS) OnConnect data_v1_1 API.
    Read-only entertainment data: lineups, stations, schedules, programs,
    series, movies, sports, and celebrities. Authentication is via API key as
    the `api_key` query parameter.
  version: '1.1'
servers:
  - url: http://data.tmsapi.com/v1.1
    description: Gracenote OnConnect (data_v1_1)
security:
  - apiKey: []
tags:
  - name: Lineups
  - name: Stations
  - name: Programs
  - name: Series
  - name: Movies
  - name: Sports
  - name: Celebrities
paths:
  /lineups:
    get:
      tags: [Lineups]
      summary: Search for TV lineups
      operationId: searchLineups
      parameters:
        - in: query
          name: country
          schema: { type: string, description: ISO 3166-1 alpha-3 country code }
        - in: query
          name: postalCode
          schema: { type: string }
        - in: query
          name: lineupName
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string, enum: [Cable, Satellite, OTA, IPTV] }
      responses:
        '200':
          description: Lineups
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Lineup' }
  /lineups/{lineupId}:
    get:
      tags: [Lineups]
      summary: Get lineup details
      operationId: getLineup
      parameters:
        - in: path
          name: lineupId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Lineup
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lineup' }
  /lineups/{lineupId}/channels:
    get:
      tags: [Lineups]
      summary: Get channels for a lineup
      operationId: getLineupChannels
      parameters:
        - in: path
          name: lineupId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Channels
          content:
            application/json:
              schema:
                type: array
                items: { type: object }
  /lineups/{lineupId}/grid:
    get:
      tags: [Lineups]
      summary: Get program schedule grid for a lineup
      operationId: getLineupGrid
      parameters:
        - in: path
          name: lineupId
          required: true
          schema: { type: string }
        - in: query
          name: startDateTime
          schema: { type: string, format: date-time }
        - in: query
          name: endDateTime
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Grid
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /stations:
    get:
      tags: [Stations]
      summary: Search for stations
      operationId: searchStations
      parameters:
        - in: query
          name: lineupId
          schema: { type: string }
        - in: query
          name: callSign
          schema: { type: string }
      responses:
        '200':
          description: Stations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Station' }
  /stations/{stationId}:
    get:
      tags: [Stations]
      summary: Get station details
      operationId: getStation
      parameters:
        - in: path
          name: stationId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Station
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Station' }
  /stations/{stationId}/airings:
    get:
      tags: [Stations]
      summary: Get program airings for a station
      operationId: getStationAirings
      parameters:
        - in: path
          name: stationId
          required: true
          schema: { type: string }
        - in: query
          name: startDateTime
          schema: { type: string, format: date-time }
        - in: query
          name: endDateTime
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Airings
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /programs:
    get:
      tags: [Programs]
      summary: Search programs
      operationId: searchPrograms
      parameters:
        - in: query
          name: title
          schema: { type: string }
        - in: query
          name: entityType
          schema:
            type: string
            enum: [Movie, Show, Episode, Sports]
      responses:
        '200':
          description: Programs
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Program' }
  /programs/{programId}:
    get:
      tags: [Programs]
      summary: Get program details
      operationId: getProgram
      parameters:
        - in: path
          name: programId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Program
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Program' }

  /series/{seriesId}:
    get:
      tags: [Series]
      summary: Get series details
      operationId: getSeries
      parameters:
        - in: path
          name: seriesId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Series
          content:
            application/json:
              schema: { type: object }
  /series/{seriesId}/episodes:
    get:
      tags: [Series]
      summary: List episodes for a series
      operationId: getSeriesEpisodes
      parameters:
        - in: path
          name: seriesId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Episodes

  /movies:
    get:
      tags: [Movies]
      summary: Search movies
      operationId: searchMovies
      parameters:
        - in: query
          name: title
          schema: { type: string }
        - in: query
          name: releaseYear
          schema: { type: integer }
      responses:
        '200': { description: Movies }
  /movies/{movieId}:
    get:
      tags: [Movies]
      summary: Get movie details
      operationId: getMovie
      parameters:
        - in: path
          name: movieId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Movie }

  /sports:
    get:
      tags: [Sports]
      summary: Search sports content
      operationId: searchSports
      parameters:
        - in: query
          name: sportName
          schema: { type: string }
        - in: query
          name: teamName
          schema: { type: string }
      responses:
        '200': { description: Sports }
  /sports/{sportId}:
    get:
      tags: [Sports]
      summary: Get sport / event details
      operationId: getSport
      parameters:
        - in: path
          name: sportId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Sport }

  /celebs:
    get:
      tags: [Celebrities]
      summary: Search celebrities
      operationId: searchCelebrities
      parameters:
        - in: query
          name: name
          schema: { type: string }
      responses:
        '200': { description: Celebrities }
  /celebs/{celebId}:
    get:
      tags: [Celebrities]
      summary: Get celebrity details
      operationId: getCelebrity
      parameters:
        - in: path
          name: celebId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Celebrity }

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
  schemas:
    Lineup:
      type: object
      properties:
        lineupId: { type: string }
        name: { type: string }
        location: { type: string }
        type: { type: string }
        device: { type: string }
        mso:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
    Station:
      type: object
      properties:
        stationId: { type: string }
        name: { type: string }
        callSign: { type: string }
        affiliateCallSign: { type: string }
        affiliateName: { type: string }
        type: { type: string }
        channels:
          type: array
          items: { type: string }
        preferredImage:
          type: object
          properties:
            uri: { type: string }
            height: { type: string }
            width: { type: string }
    Program:
      type: object
      properties:
        tmsId: { type: string }
        rootId: { type: string }
        subType: { type: string }
        title: { type: string }
        shortDescription: { type: string }
        longDescription: { type: string }
        releaseYear: { type: integer }
        releaseDate: { type: string, format: date }
        entityType:
          type: string
          enum: [Movie, Show, Episode, Sports]
        genres:
          type: array
          items: { type: string }
        ratings:
          type: array
          items: { type: object }
        cast:
          type: array
          items: { type: object }
        crew:
          type: array
          items: { type: object }
        preferredImage:
          type: object
          properties:
            uri: { type: string }
            height: { type: string }
            width: { type: string }
